<%=  link_to("<< Back to List", sections_path(:page_id => @page.id), :class => 'btn btn-link') %>

<div class="section edit">
	<h2>Update Section</h2>

	<%= form_for(@section, :page_id => @page.id) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons btn">
			<%= submit_tag("Update Section") %>
		</div>
	<% end %>

</div>