<%=  link_to("<< Back to List", pages_path(:subject_id => @subject.id), :class => 'btn btn-link') %>

<div class="page edit">
	<h2 class="title">Update Page</h2>

	<%= form_for(:page, :url => page_path(@page.id, :subject_id => @subject.id), :html => {:method => :put}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons btn">
			<%= submit_tag("Update Page") %>
		</div>
	<% end %>

</div>