<%=  link_to("<< Back to List", pages_path(:subject_id => @subject.id), :class => 'btn btn-link') %>

<div class="page new">
	<h2 class="title">Create Page</h2>

	<%= form_for(:page, :url => pages_path(:subject_id => @subject.id), :html => {:method => :post}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons btn">
			<%= submit_tag("Create Page") %>
		</div>
	<% end %>

</div>