<%=  link_to("<< Back to List", subjects_path, :class => 'btn btn-link') %>

<div class="subject edit">
	<h2 class="title">Update Subject</h2>

	<%= form_for(@subject) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="btn form-buttons">
			<%= submit_tag("Update Subject") %>
		</div>
	<% end %>

</div>