 /*Admin stylesheet */
 /*loads after public.css */

 /*Structure*/


.hero-unit {
 	margin-bottom: 0;
 }



#content {
	width: 100%;
/*	padding-left: 10%;
	padding-right: 10%;*/
	margin-left: auto;
	margin-right: auto;
	float: center;

	/*padding-left: 100px;
	padding-right: 100px;*/
}


#content h2 {
	width: 100%;
	text-align: center;
}


.login form {
	text-align: center;
/*	margin: 100px auto;*/
}

.login table {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

table {
	padding-left: 5%;
	padding-right: 5%;
}


.menu .identity {
	text-align: center;
}

.menu ul{
	margin: 3em auto;
	list-style-type: none;
}

.menu ul li {
	margin-bottom: 1em;
}

.menu .logout-btn {
	float:right;
}

.menu #menu-title {
	clear: both;
	text-align: center;
}

.menu .manage-buttons {
	width: 220px;
}

input {
	border: none;
	background-color: transparent;
	padding: 0;

}

/*a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}*/





/*large action buttons */

/* a.action {
	float: right;
	padding: 2px 5px;
	margin: 0 0 1em 1em;
	background: #94B26F;
	color: #4C2516;
	border: 1px solid #4C2516;
	text-decoration: none;
	font-size: 0.8em; 
	text-align: center;
}

a.action:hover {
	background: #B6D491;
}*/





.actions .btn {
	color: #333333;
}

.actions .btn:visited {
	color: #333333;
}

.actions .btn:hover {
	color: #111111;
}



/*small action buttons */
/*
.actions {
	width: 200px;
}

.action a.action {
	float: left;
	min-width: 3.5em;
	padding: 1px 2px; 
	margin: 2px 5px;
	font-size: 0.7em;
}*/



/*CRUD*/
.notice {
	height: 1.25em;
	padding: 0.5em;
	text-align: center;
	background: #6A819E;
	color: #ffffff;
}

.back-link {
	font-size: .8em;
	margin-bottom: 1em;
}

.form-buttons {
	text-align: center;
	margin: 1em 40%;
}

.title {
	text-align: center;
}

.list .query-result-title {
	margin-top: 1.5em;
}

.list table {
	clear: both;
	width: 100%;
	margin-top: 1em;
}


.list table tr td {
	border: none;
}

.list .actions-title {
	text-align: center;
}

.list .actions {
	text-align: right;
}

.list .create-btn {
	float: right;
}

.show table {
	clear: both;
	margin: 0 auto;
	width: 300px;
}

.show table.wide {
	width: 600px;
	margin: 0 50px;
}

.show table tr th {
	white-space: nowrap;
	padding-right: 5px;
}

.show table tr td {
	border: 1px solid #666666;
}

.edit table, .new table {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}


.delete form {
/*	width: 100%;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.delete .form-buttons {
	text-align: center;

}


.odd {
	background: #eeeeee;
}


.even {
	background: none;
}



.section + .section {
	padding-top: 0.5em;
	margin-top: 0.5em;
	border-top: 1px dotted #666666;
}




span.status {
	display: block;
	width: 10px;
	height: 10px;
	margin: 0.25em auto;
	padding: 0;
	border: 1px solid #000000;
	border-radius: 1em;
}


span.status.true {
	background: green;
	color: green;
}

span.status.false {
	background: red;
	color: red;
}



/*Errors*/

.fieldWithErrors {
	display: table;
	padding: 2px;
	background-color: #CC692E;
}

#errorExplanation {
	width: 400px;
	padding: 0; 
	margin: 0 auto 1.5em;
	border: 1px solid #CC692E; 
	background-color: #FFFFFF;
	font-size: 12px;
}

#errorExplanation h2 {
	font-weight: bold;
	font-size: 12px;
	padding: 5px 5px 5px 15px;
	margin: 0;
	width: 380px;
}

#errorExplanation p {
	color: #333333;
	margin:	0;
	padding: 3px 0.5em;
}

#errorExplanation ul {
	margin-top: 0;
}

#errorExplanation ul li {
	list-style-type: square;
}