<% subjects ||= [] %>
<ul class="nav nav-list">
	<% subjects.each do |subject| %>
	<li class="nav-header">
		<%= subject.name.capitalize %>
		
			<% subject.pages.visible.sorted.each do |page| %>
			<li class = "<%= current_page?(:id => page.permalink) ? 'active' : '' %>"><%= link_to(page.name.capitalize, {:action => 'show', :id => page.permalink} ) %></li>
			<% end %>
		
	</li>
	<% end %>
</ul>