
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Simple CMS <%= @page_title ? "| #{@page_title}" : " "  %></title>
		<meta name="author" content="German Velasco">
		<%= stylesheet_link_tag('bootstrap', 'bootstrap-responsive', 'public', :media => 'all') %>
	</head>
	<body>
		<div id="header">
			<h1>Simple CMS</h1>
		</div>
		<div id="main">
			<div id="navigation">
				<%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div class="clear"></div>
			<div id="footer">
				<p id="copyright">&copy; 2013 - Designed and built by 3monkeys</p>
			</div>
		</div>
		
	</body>
</html>